<loader></loader>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <mat-card>
        <form name="numForm" [formGroup]="numForm" (ngSubmit)="onSubmit()">
          <mat-card-header>
            <mat-card-title>
              <h6>Terribly Tiny Tales</h6>
            </mat-card-title>
            <mat-card-subtitle>Application example</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <section>
              <mat-form-field class="full-width">
                <input type="number" matInput id="numVal" formControlName="numVal" [(ngModel)]="numVal" name="numVal" #numValTxt placeholder="Enter a number to view top n repeated words"
                  required />
              </mat-form-field>
            </section>
          </mat-card-content>

          <mat-card-actions>
            <section class="pull-right">
              <button mat-raised-button color="accent" type="submit" [disabled]="!numForm.valid">SUBMIT</button>
            </section>
          </mat-card-actions>
        </form>
      </mat-card>
      <br />
      <mat-card *ngIf="apiResponse.length > 0">
        <mat-card-header>
          <mat-card-title>
            <h6>Top {{numVal}} most occuring words</h6>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Word</th>
                <th scope="col">Occurrences</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let response of apiResponse">
                <th scope="row">{{response.key}}</th>
                <td>{{response.value}}</td>
              </tr>
            </tbody>
          </table>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
