.loader-bg {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 998;
}

.loader {
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  z-index: 999;
  margin: -25px 0 0 -25px;
}
